{% extends "base.html" %}

{% block title%}Albums{% endblock title %}

{% block content  %}

<a href="{%url "album_manager:add_album"%}" class="btn btn-primary mb-4">Agregar &Aacute;lbum</a>
<div class = "container">
    <div class = "row">
        {% for album in albums%}
        <div class="col-md-4 mb-4">      
            <div class='card'>
                <img src = "{{ album.cover.url }}" alt = "" height="300px">
                <div class = "card-body">
                    <h5 class= 'card-title'><strong>{{ album }}</strong></h5>
                    <p class= "card-text">Artista: {{ album.artist }}</p>
                    <a href = "{{album.title}}" class="btn btn-primary">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href = "edit_album/{{album.title}}" class="btn btn-primary">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a href = "delete_album/{{album.title}}" class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<a href ="/" class = "btn btn-primary my-3">Regresar<a>

{% endblock content %}