{% extends "base.html" %}
{% block title%}{{album}}{% endblock title %}

{% block content  %}
            
<h2 class = "mt-3">Has elegido el &aacute;lbum: <strong>{{ album | capfirst }}</strong></h2>
<div class="container-sm">
    <img src = "{{ album.cover.url }}" alt = "" height="300px" class = "my-3 rounded mx-auto d-block">
    <h3 class="my-3">Informaci&oacute;n del &aacute;lbum:</h3>
    <ul>
        <li><h5>T&iacute;tulo: {{album.title}}</h5></li>
        <li><h5>A&ntilde;o de lanzamiento: {{album.year}}</h5></li>
        <li><h5>G&eacute;nero: {{album.genre}}</h5></li>
        <li><h5>Artista: {{album.artist}}</h5></li>
    </ul>
</div> 
<a href ="/album" class = "btn btn-primary mt-3">Regresar<a>
{% endblock content %}