{% extends "base.html" %}
{% block title%}Record Store{% endblock title %}
{% load static %}

{% block content  %}
		   
<p class="my-3 h5">Bienvenido a mi tienda de discos</p>

<div class="card-group">
    {% for album in albums %}
        <div class="card">
            <img src="{{ album.covers.url }}" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ album }}</h5>
                <p class="card-text">Artista: {{ album.artist }}</p>
                <p class="card-text">Género: {{ album.gender }}</p>
                <a href="album/{{ album.id }}" class="btn btn-primary"><i class="fa-regular fa-eye"></i></a>
                <a href="edit_album/{{ album.id }}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="delete_album/{{ album.id }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
    {% endfor %}
</div>
<a href="{% url "album_manager:add_album" %}" class="btn btn-primary">Crear Nuevo Album</a>
{% endblock content %}
